<div class="container">
    <h2>Dispositivos</h2>
    <button mat-raised-button color="primary" routerLink="/devices/new">Novo Dispositivo</button>

    <table mat-table [dataSource]="devices" class="mat-elevation-z8" style="width: 100%; margin-top: 20px;">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let d">{{ d.name }}</td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Categoria</th>
            <td mat-cell *matCellDef="let d">{{ d.category?.name || '-' }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let d">
                <button mat-icon-button color="warn" (click)="delete(d.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name', 'category', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'category', 'actions']"></tr>
    </table>
</div>